@import "base";

section {
	$defH: 100vw;
	$midH: 200px;
	$lrgH: 400px;
	display: block;
	clear: both;
	width: 100%;

	box-sizing: content-box;
	&:after {
		content: '';
		clear: both;
	}
	.description {
		display: inline;
	}
	canvas {
		// Defining responsives before overrides because SASS does not respect order when using
		//  media queries.
		@include responsive("height", $defH, $midH, $lrgH);
		@include responsive("width", $defH, $midH, $lrgH);
		margin-bottom: 1em;
		box-sizing: content-box;
		border: 1px solid black;
	}
	canvas.no-webgl {
		background-color: #ddd;
		border: 1px solid red;
	}
	&.canvas-left canvas {
		float: left;
		margin-right: 10px;
	}
	&.canvas-right canvas {
		float: right;
		margin-left: 10px;
	}
	&.canvas-double canvas {
		margin-top: 2px;
		@include responsive("height", $defH / 2, $midH / 2, $large-content-width / 2);
		@include responsive("width", 100%, $large: $large-content-width);
	}
}

#no-webgl {
	font-size: 120%;
	font-weight: 500;
	color: rgb(255, 0, 0);
	box-sizing: border-box;
	display: none;
	border: 3px solid red;
	padding: 8px;
	margin: 20px 0;
}
